.top {
    background-color: #223343;
}

.toptxt {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    /* margin: 100px; */
    padding: 30px;
}

#sign_up_fail {
    color: red;
    display: none;
}

#sign_up_success {
    color: red;
    display: none;
}

#login_fail {
    color: red;
    display: none;
}