<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="免費估價，新竹鐵捲門維修，新竹鋁門窗，新竹遮雨棚，新竹採光罩，組合屋，房屋修繕，鋼構工程，新竹鐵皮屋，園區無塵室工程，以最優惠的價格買到最優秀。">
    <meta name="keywords" content="新竹鋁門窗，新竹鐵工，新竹鐵捲門，竹北，新竹鐵捲門維修，新竹裝修，新竹設計，新竹店面裝潢，新竹鐵門，新竹鐵皮屋，新竹採光罩，新竹遮陽罩，新竹冷氣架，新竹冷氣籠">
    <meta name="author" content="" />
    <title>[鴻馥工程有限公司] - 新竹鐵捲門,新竹鋁門窗,新竹遮雨棚,新竹採光罩,新竹鋁門窗工程</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/logo.jpg" />
    <!-- Bootstrap icons-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">鴻馥工程</a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" id="nav_login" href="/user">登入</a></li>
                        <li class="nav-item"><a class="nav-link" id="nav_logout">登出</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user"><i class="bi bi-person-fill"
                                    id="nav_logo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">
                                本公司本公司為台積電合作廠商，及新竹各大科技廠如群創、友達、元太、及中科院等提供最專業的服務。
                            </h1>
                            <p class="lead fw-normal text-muted mb-4">
                                秉持“專業服務、堅守品質”為最基本原則，經驗豐富迅速改善環境問題，並嚴格要求著【服務】【品質】【溝通】以滿足每一位客戶之需求。
                            </p>
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://lin.ee/dd40AhN">立即諮詢</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/TSMC2.jpg"
                            alt="合格證" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">台積電設備合格證</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            所有設備皆是在通過經濟部商品檢驗局檢查合格，在廠內所有電機具使用前皆須經由台積公司廠務電力課檢查，貼上用電設備合格證（期限一年）。
                            <br><br>且設備每年皆須重新經過台積公司廠務電力課檢查，設備品質及施作安全絕對有保障。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="../assets/tsmc_Academy.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">TSMC Supplier Online 360</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            公司員工每年皆有學習「台積電供應商永續學院」課程，並通過考試認證才可在廠內進行施作。<br><br> 上線課程範圍涵蓋環境、道德、勞工、安全與衛生等類別，提升對職業安全衛生的認知。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section 3-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/tea_shop.jpg"
                            alt="tea_shop" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">櫃台防疫設計</h2>
                        <p class="lead fw-normal text-muted mb-0">防疫期間提供手搖店防疫櫥窗設計。</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section 4-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="../assets/modular house.jpg" alt="組合屋" /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">組合屋合作廠商</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            為榮獲新北市、新竹、苗栗、彰化、高雄、台東、花蓮、金門等縣市政府防疫站指定廠商的施作合作團隊，為防疫國家隊一同貢獻。</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- valuation section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <h2 class="fw-bolder">我們提供免費估價</h2>
                            <div class="fs-4 mb-4 fst-italic">
                                根據您的需求提供最專業建議，符合您的預算去解決您的問題，一直都是我們核心的理念。
                            </div>
                        </div>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <p><i class="bi bi-map-fill" style="width:30px"></i> 新竹市經國路一段156巷184-1號</p>
                            <p><i class="bi bi-telephone-fill" style="width:50px"></i> Phone: 0912598890</p>
                            <p><i class="bi bi-mailbox2" style="width:30px"> </i> Email: jackku23@outlook.com</p>

                        </div>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://lin.ee/dd40AhN">立即諮詢</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Hung Fu Engineering Co.,Ltd. 2023</div>
                </div>
                <div class="col-auto">
                    <a class="text-white-50 small">Design by</a>
                    <a class="link-light small" href="https://www.linkedin.com/in/ku-jack-bb736a236/">Jack Ku</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="https://github.com/sakujjjj/hungfu">Github</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
</body>

</html>