<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="免費估價，新竹鐵捲門維修，新竹鋁門窗，新竹遮雨棚，新竹採光罩，組合屋，房屋修繕，鋼構工程，新竹鐵皮屋，園區無塵室工程，以最優惠的價格買到最優秀。">
  <meta name="keywords" content="新竹鋁門窗，新竹鐵工，新竹鐵捲門，竹北，新竹鐵捲門維修，新竹裝修，新竹設計，新竹店面裝潢，新竹鐵門，新竹鐵皮屋，新竹採光罩，新竹遮陽罩，新竹冷氣架，新竹冷氣籠">
  <meta name="author" content="" />
  <title>admin</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../assets/logo.jpg" />
  <!-- Bootstrap icons-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column">
  <main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
        <a class="navbar-brand" href="/">鴻馥工程</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
            <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" id="nav_login" href="/user">登入</a></li>
            <li class="nav-item"><a class="nav-link" id="nav_logout">登出</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"><i class="bi bi-person-fill" id="nav_logo"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- admin section -->
    <section class="bg-light py-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">後台管理</h1>
        <!-- show all staff ask leave section-->
        <button class="btn btn-primary" id="show_approve_button">批准假單</button>
        <button class="btn btn-primary" id="show_enter_tsmc_button">預約入廠</button>
        <button class="btn btn-primary" id="show_sign_up_button">註冊員工</button>
      </div>
    </section>


    <!-- ask leave section-->
    <section class="bg-light py-5" id="ask_leave_section">
      <div class="container px-5 my-5">
        <div class="text-center mb-5">
          <h2 class="fw-bolder">員工請假單</h2>
          <p class="lead fw-normal text-muted mb-0">批准假單</p>
        </div>
        <table class="table table-striped">
          <tbody id="ask_leave_list"></tbody>
        </table>
      </div>
    </section>
    <!-- enter TSMC section-->
    <section class="bg-light py-5" id="enter_tsmc_section">
      <div class="container px-5 my-5">
        <div class="text-center mb-5">
          <h2 class="fw-bolder">預約進廠人員</h2>
          <p class="lead fw-normal text-muted mb-0">請點選要預約的人員及時間</p>
        </div>
        <table class="table table-striped">
          <tbody id="enter_tsmc_list"></tbody>
        </table>
        <div class="text-center mb-5">
          <span>
            預約日期:
            <input type="date" name="enter_tsmc_day" id="enter_tsmc_day" />
          </span>
          <span>
            <button class="btn btn-secondary" id="enter_tsmc_button">確定預約</button>
          </span>
        </div>
      </div>
    </section>
    <!-- sign up section-->
    <section class="bg-light py-5" id="sign_up_section">
      <div class="container px-5 my-5">
        <div class="text-center mb-5">
          <h2 class="fw-bolder">註冊員工</h2>
          <p class="lead fw-normal text-muted mb-0">請輸入新員工資訊</p>
          <p class="text-danger fw-lighter fs-4 " id="sign_up_info"></p>
        </div>
        <div class="mb-3">
          <table class="table table-striped">
            姓名<input type="text" class="form-control" id="sign_up_user_name" name="name">
            <br />
            密碼<input type="password" class="form-control" id="sign_up_password" name="password">
            <br />
            電話<input type="text" class="form-control" id="sign_up_phone_number" name="phone_number" pattern="09\d{8}"
              required>
            <br />
            e-mail<input type="text" class="form-control" id="sign_up_email" name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <br />
            TSMC工號<input type="text" class="form-control" id="sign_up_tsmc_id" name="tsmc_id">
            <br />
            <button type="submit" class="btn btn-primary" id="sign_up_button">註冊</button>
          </table>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer-->
  <footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto">
          <div class="small m-0 text-white">Copyright &copy; Hung Fu Engineering Co.,Ltd. 2023</div>
        </div>
        <div class="col-auto">
          <a class="text-white-50 small">Design by</a>
          <a class="link-light small" href="https://www.linkedin.com/in/ku-jack-bb736a236/">Jack Ku</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small" href="https://github.com/sakujjjj/hungfu">Github</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/js/admin.js"></script>


</body>

</html>